/* -------------------------------------
 * Functions
 * ---------------------------------- */

@function whiten($color, $weight) {
  @return mix($color, #fff, 100% - $weight);
}

/* -------------------------------------
 * Variables
 * ---------------------------------- */

$main_color: #369;

$base_color: darken(mix(#333, $main_color), 10%);

/* -------------------------------------
 * Fonts
 * ---------------------------------- */

.fa-hatena {
  &:before {
    content: 'B!';
    font-family: Verdana;
    font-weight: bold;
  }
}

/* -------------------------------------
 * Base styles
 * ---------------------------------- */

body {
  color: $base_color;
  font-family: 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

a {
  color: $main_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  -webkit-font-smoothing: antialiased;
}

/* -------------------------------------
 * .container
 * ---------------------------------- */

.container {
  position: relative;
  width: 960px;
  margin: 80px auto 40px;
}

/* -------------------------------------
 * .sidebar
 * ---------------------------------- */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  font-size: 80%;
  text-align: right;

  #{&}__section {
    margin-bottom: 40px;

    &:last-child {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

// .sidebar__section

.sidebar__section {
  #{&}__heading {
    margin: 0 0 16px;
    font-size: 100%;
    font-weight: normal;
  }

  #{&}__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #{&}__item {
    margin-bottom: 4px;
  }
}

/* -------------------------------------
 * .profile
 * ---------------------------------- */

.profile {
  #{&}__image {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    border-radius: 100%;
  }

  #{&}__name {
    display: block;
    margin-bottom: 2px;
  }

  #{&}__screenname {
    display: block;
    margin-bottom: 8px;
    color: whiten($base_color, 50%);
    font-size: 90%;
  }

  #{&}__description {
    display: block;
    margin-bottom: 12px;
  }

  #{&}__icon-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #{&}__icon-item {
    display: inline-block;

    a {
      display: block;
      width: 18px;
      border-radius: 2px;
      background-color: whiten($base_color, 25%);
      color: #fff;
      font-size: 90%;
      line-height: 18px;
      text-align: center;
      transition: 200ms;

      &:hover {
        background-color: #fff;
        color: whiten($base_color, 25%);
      }
    }
  }
}

/* -------------------------------------
 * .footer
 * ---------------------------------- */

.footer {
  color: whiten($base_color, 25%);
  font-size: 90%;

  #{&}__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #{&}__item {
    margin-bottom: 4px;

    a {
      color: whiten($base_color, 25%);
    }
  }
}

/* -------------------------------------
 * .content
 * ---------------------------------- */

.content {
  width: 480px;
  margin: auto;
}

/* -------------------------------------
 * .post
 * ---------------------------------- */

.post {
  overflow: hidden;

  #{&}__header {
    margin: 20px 0 40px;
    font-family: 'Hiragino Mincho ProN', serif;
    text-align: right;
  }

  #{&}__content {
    font-size: 90%;
    line-height: 2;
    text-align: justify;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      max-width: 100%;
    }

    h2 {
      margin: 40px 0 40px;
      font-size: 150%;
      font-weight: normal;
      text-align: center;
    }

    h3 {
      margin: 40px 0 20px;
      font-size: 100%;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
    }

    ol,
    ul {
      padding-left: 24px;
    }

    code {
      padding: 2px 5px;
      border-radius: 2px;
      background-color: whiten($base_color, 95%);
      color: whiten($base_color, 25%);
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      font-size: 80%;
    }

    .highlight {
      padding: 8px 16px;
      border-radius: 2px;
      line-height: 1.8;

      pre {
        margin: 0;
      }

      code {
        padding: auto;
        border-radius: 0;
        background-color: transparent;
        color: inherit;
      }
    }
  }

  #{&}__share-list {
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
    text-align: right;
  }

  #{&}__share-item {
    display: inline-block;
    margin-left: 4px;

    a {
      display: block;
      width: 32px;
      border-radius: 2px;
      background-color: whiten($base_color, 95%);
      color: whiten($base_color, 25%);
      font-size: 80%;
      line-height: 32px;
      text-align: center;
      transition: 200ms;

      &:hover {
        background-color: whiten($base_color, 25%);
        color: whiten($base_color, 95%);
      }
    }
  }

  #{&}__pagination {
    overflow: hidden;
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
    font-size: 90%;
  }
}

// .post__header

.post__header {
  #{&}__heading {
    margin: 0 auto 4px;
    font-size: 120%;
    font-weight: normal;

    a {
      color: $base_color;
    }
  }

  #{&}__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: whiten($base_color, 50%);
  }

  #{&}__item {
    display: inline-block;
    margin-left: 4px;
    font-size: 80%;

    a {
      color: whiten($base_color, 50%);
    }

    img {
      vertical-align: text-top;
    }
  }
}

// .post__pagination

.post__pagination {
  #{&}__item {
  }

  #{&}__item--previous {
    float: left;
  }

  #{&}__item--next {
    float: right;
  }
}
