@media screen and (max-width: 960px) {

/* -------------------------------------
 * Base styles
 * ---------------------------------- */

body {
  padding: 40px 20px 20px;
}

/* -------------------------------------
 * .container
 * ---------------------------------- */

.container {
  width: 100%;
  margin: 0;
}

/* -------------------------------------
 * .sidebar
 * ---------------------------------- */

.sidebar {
  position: static;
  top: auto;
  left: auto;
  width: 100%;
  font-size: 80%;
  text-align: center;
}

// .sidebar__section

.sidebar__section {
  #{&}__item {
    display: inline;
    margin: auto 2px;
  }
}

/* -------------------------------------
 * .footer
 * ---------------------------------- */

.footer {
  display: none;
}

/* -------------------------------------
 * .content
 * ---------------------------------- */

.content {
  width: 100%;
}

}
