@media screen and (max-width: 960px) {

/* -------------------------------------
 * Base styles
 * ---------------------------------- */

body {
  // padding: 40px 20px 20px;
}

/* -------------------------------------
 * .container
 * ---------------------------------- */

.container {
  width: 100%;
  margin: 40px auto;
}

/* -------------------------------------
 * .sidebar
 * ---------------------------------- */

.sidebar {
  position: static;
  top: auto;
  left: auto;
  width: 100%;
  font-size: 80%;
  text-align: center;
}

// .sidebar__section

.sidebar__section {
  padding-bottom: 40px;
  border-bottom: 1px solid whiten($base_color, 95%);

  #{&}__item {
    display: inline;
    margin: auto 2px;
  }
}

/* -------------------------------------
 * .footer
 * ---------------------------------- */

.footer {
  display: none;
}

/* -------------------------------------
 * .content
 * ---------------------------------- */

.content {
  width: calc(100% - 40px);
  margin: auto 20px;
}

}
